<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yseleshi.stockinfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yseleshi.stockinfo.StockList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yseleshi.stockinfo.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.yseleshi.stockinfo.StockNotification" />

        <service
            android:name="com.yseleshi.stockinfo.StockService"
            android:exported="false" />

        <receiver
            android:name="com.yseleshi.stockinfo.StockAlarmReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.yseleshi.stock.ACTION_UPDATE_Stock_ALARM" />
            </intent-filter>

        </receiver>
    </application>

</manifest>